.footer {
    background: #333333;
    color: #fff;
    
    &__container {
    }

    &__flexbox {
        display: flex;
        justify-content: space-between;
        align-items: start;
    }

    &__block {

        max-width: rem(360px);
    }

    &__title {
        font-weight: bold;
        font-size: rem(22);
        &:hover{
            color: #000;
        }
    }

    &__hrefs-block {
        padding-top: rem(27);

        display: flex;
        flex-wrap: wrap;
    }

    &__hrefs {
        margin-top: rem(18);
        font-weight: normal;
        font-size: rem(14);
        width: 100%;
        &:hover{
            color: #89AFEF;
        }
    }

    &__contacts {
        max-width: rem(262);
    }

    
    &-ico{
        padding-right: rem(13);
    }
    &__contacts {
        max-width: rem(280);
    }

    &__contacts-title {
        font-size: rem(22);
        line-height: rem(27);
        font-weight: bold;
        padding-bottom: rem(40);
    }

    &__contacts-href {
    }

    &__btn {
    }

    &__btn-href {
    }

    &__contacts-logo {
    }

    &__logo {
    }

}
