.news {
    margin-top: rem(40);
    &__title{
        font-weight: 800;
        font-size: rem(36);
        text-align: center;
        margin-bottom: rem(30);
        color: #333333;
    }
    &__cards-main {
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        gap: rem(30);
    }

    &__reclama-leftSide{
        width: 50%;
    }
    &__reclama-rightSide{
        width: 40%;
    }
    &__reclama {
        background: #FFFFFF;
        box-shadow: 0 rem(2) rem(15) rgba(0, 0, 0, 0.0677994);
        max-width: rem(520);
        padding: rem(30) 0 rem(30) rem(40);
        display: flex;
        justify-content: space-between;
        align-items: center;
        height: rem(340);
    }

    &__reclama-title {
        font-weight: bold;
        font-size: rem(24);
    
    }

    &__blue {
        color: #86adef;
    }

    &__reclama-subtitle {
        margin-top: rem(30);
        font-weight: 500;
        font-size: rem(16);
    }

    &__card {
        width: rem(270);
        padding: rem(24);
        background: #FFFFFF;
        box-shadow: 0 rem(2) rem(15) rgba(0, 0, 0, 0.0677994);
        
    }

    &__card-img {
        width: 100%;
    }

    &__card-date {
        color: #ababab;
        font-weight: 500;
        font-size: rem(14);
        margin-top: rem(14);

    }

    &__card-title {
        font-weight: bold;
        font-size: rem(19);
        margin-top: rem(14);
        color: #333333;
    }

    &__card-info {
        color: #333333;
        font-weight: 500;
        margin-top: rem(7);
        font-size: rem(16);
    }
    &__btn{
        margin-top: rem(60);
        text-align: center;
        margin-bottom: rem(100);
        :hover{
            box-shadow: -5px 6px 10px rgba(109, 129, 204, 0.25), 5px 6px 10px rgba(109, 129, 204, 0.25);
        }
    }
    &__href{
        padding: rem(14);
        font-weight: bold;
        font-size: rem(16);
        text-transform: uppercase;
        color: #6D81CC;
        border: rem(2) solid #6D81CC;
        border-radius: rem(3);
        text-align: center;
    }
}
@media only screen and (min-width: rem(867)){
    .news__card{
        height: rem(340);
    }
}


@media only screen and (max-width: rem(599)){
    .news__reclama{
        width: 100%;
        padding: rem(10);
        text-align: center;
    }
    .news__reclama-rightSide{
        display: none;
    }
    .news__reclama-leftSide{
        width: 100%;
    }
    .news__card{
        width: 100%;
        margin-top: rem(40);
        
    }
}
