.slide-programs {
    
    &__content {
        padding: rem(25);
        background: #FFFFFF;
        box-shadow: 0 rem(2) rem(15) rgba(0, 0, 0, 0.0677994);
    }
}
.programs__title{
    margin-bottom: rem(30);
    font-weight: 800;
    font-size: rem(36);
    text-align: center;
    
    color: #333333;
}
.slider {

    &__img {
        
        width: 100%;
    }

    &__title {
        margin-top: rem(15);
        font-weight: 800;
        font-size: rem(19);
        text-align: center;
    }

    &__group {
        color: #53B43B;
        font-weight: 500;
        font-size: rem(12);
        text-align: center;
    }

    &__price {
        font-weight: 800;
        font-size: rem(22);
        margin-top: rem(10);
        text-align: center;
    }
}
._icon-Path-Copy{
    font-size: rem(4);
    position: relative;
    top: rem(-2);
}


.controll-programs {
    width: rem(100);
    padding: rem(40) 0;
    margin: 0 auto;
    &__dotts {
        display: flex;
        justify-content: space-between;

    }
}


.swiper-pagination-bullet{

    width: rem(11);
    height: rem(11);
    border-radius: 50%;
    background-color: #E4E4E4;
    &-active{
        background-color: #fff;
        border: 2px solid #84AAED;
    }
}
