.team {

    &__container {
    }

    &__cardsblock {
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        @include adaptiveValue('column-gap',80,20);
        row-gap: rem(30);
    }

    &__card {
        max-width: rem(320);
        overflow: hidden;
        
        &:hover img{
            transition: all .3s linear;
            cursor: pointer;
            transform: scale(1.1, 1.1);
        }
    }

    &__card-img {
        transition: all .3s linear;
        position: relative;
        overflow: hidden;
        &-div{
            max-width: 320px;
            max-height: 320px;
            overflow: hidden;
        }
    }

    &__card-title {
        margin-top: rem(20);
        font-family: 'DM Mono';
        font-style: normal;
        font-weight: 400;
        font-size: rem(21);
        line-height: rem(28);
        /* identical to box height, or 132% */
        
        text-align: center;
        text-transform: uppercase;
        
    }

    &__card-subtitle {
        font-family: 'DM Mono';
        font-style: normal;
        font-weight: 400;
        font-size: rem(11);
        line-height: rem(12);
        /* identical to box height, or 109% */
        
        text-align: center;
        letter-spacing: rem(1);
        text-transform: uppercase;
        margin-top: rem(18);
        color: #8DFD1B;
        margin-bottom: rem(30);
    }

    &__card-socialblock {
        max-width: rem(86);
        display:flex;
        justify-content: space-around;
        margin: 0px auto;
        align-items: center;
        flex-wrap: wrap;
        @include adaptiveValue('column-gap',12,10);
        
    }

    &__card-socialblock-href {
        padding: rem(8);
        color: #000;
        background-color: #fff;
        transition: all .3s linear;
        &:hover{
            background-color: #8DFD1B;
        }
    }

    &__card-text {
        font-family: 'Inter';
        font-style: normal;
        font-weight: 400;
        font-size: rem(12);
        line-height: rem(19);
        /* or 160% */
        margin-top: rem(30);
        text-align: center;
    }
}
