//====================================================================================================
.header {
	padding: rem(48) 0;
	background-color: $blackColor;
	&__container {
		display:flex;
		justify-content: space-around;
		align-items: center;
		flex-wrap: wrap;
		@include adaptiveValue('column-gap',70,10);
		margin: 0 auto;
	}


	&__logo-img {
		@include adaptiveValue("width",237,177);
	}

	&__nav {
		border: 3px solid $yellowColor;
		display: flex;
		align-items: center;
		flex-wrap: wrap;
		margin: 0px auto;
		margin-top: rem(40);
	}

	&__nav-href {
		text-align: center;
		color: $yellowColor;
		font-size: rem(20);
		line-height: rem(1.2);
		padding: rem(20) 0;
		@include adaptiveValue('padding-right',50,10);
		@include adaptiveValue('padding-left',50,10);
		@include adaptiveValue('font-size',20,11);
		&:hover{
			color: $blackColor;
			background: $yellowColor;
		}
	}
}


//====================================================================================================

//Burger
/*
.icon-menu {
	display: none;
	@media (max-width: $mobile) {
		display: block;
		position: relative;
		width: 30px;
		height: 18px;
		cursor: pointer;
		z-index: 5;
		span,
		&::before,
		&::after {
			content: "";
			transition: all 0.3s ease 0s;
			left: 0px;
			position: absolute;
			width: 100%;
			height: 2px;
			background-color: $yellowColor;
		}
		&::before {
			top: 0px;
		}
		&::after {
			bottom: 0px;
		}
		span {
			top: calc(50% - 1px);
		}
		.menu-open & {
			span {
				transform: scale(0);
			}
			&::before {
				transform: rotate(-45deg);
				top: calc(50% - 1px);
			}
			&::after {
				transform: rotate(45deg);
				bottom: calc(50% - 1px);
			}
		}
	}
}
*/