.music {
    overflow: hidden;
    margin-top: rem(60);
    background: url(../img/6/Background.png)center no-repeat;
    background-size: cover;
    @include adaptiveValue("padding-top",93,93/10);
    &__top {
        display:flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
        @include adaptiveValue('column-gap',80,20);
        
    }

    &__leftSide {
        border: rem(5) solid $yellowColor;
        @include adaptiveValue("width",490,320);
        
    }

    &__leftSide-title {
        border-left: rem(3) solid $yellowColor;
        text-transform: uppercase;
        padding: rem(18);
        background-color: $yellowColor;
        color: $blackColor;
        font-size: rem(28);
        font-weight: 800;
    }

    &__leftSide-subtitle {
        color: #fff;
        text-align: center;
        font-size: rem(28);
        font-weight: 400;
        padding: rem(42) 0;
        line-height: rem(40);
        
    }
    &-img{
        width: 100%;
        position: relative;
        @include adaptiveValue("top",70,20);
    }
    &__bold{
        font-weight: 800;
        
    }

    &__rightSide {
        @include adaptiveValue("width",587,320);
        @media only screen and (max-width: rem(1031)){
            margin-top: rem(30);
            text-align: center;
        }
        color: #fff;
        font-size: rem(22);
    }
}
