.praty {
    
    @media only screen and (min-width: rem(841)){
        background: url(../img/1/Background1.png)no-repeat center;
        background-size: cover;
        width: 100%;
        padding: rem(196) 0;
    }
    @media only screen and (max-width: rem(840)){
        padding: rem(196) 0;
        background: url(../img/1/bg2.png)no-repeat center;
        background-size: cover;
        width: 100%;
    }
    


    &__main {

        max-width: rem(497);
        margin: 0px auto;
        border: rem(10) solid $yellowColor;
    }

    &__main-title {
        font-size: rem(14.703);
        color: $blackColor;
        font-weight: bold;
        text-align: center;
        text-transform: uppercase;
        padding: rem(16) rem(38) rem(26);
        background-color: $yellowColor;
        display: block;
        font-size: rem(28);
        font-weight: 800;
    }

    &__main-date {
        font-size: rem(23);
        color: #fff;
        font-weight: bold;
        text-align: center;
        padding: rem(23) rem(38);
    }
}

.party {

    &__slider {
        margin-top: rem(63);
    }

    &__swiper {
        height: rem(30);
    }

    &__slide {
        height: rem(30);
    }

    &__slide-text {
        text-align: center;
        color: #fff;
        font-size: rem(20);
        
    }
}
.controll-programs {
    width: rem(240);
    padding: rem(40) 0;
    margin: 0 auto;
    display:flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}
.slider-quality__pagging{
    display: flex;
    justify-content: space-around;
    column-gap: rem(21);
    align-items: center;
}

.swiper-pagination-bullet{

    width: rem(20);
    height: rem(20);
    border-radius: 50%;
    background-color: none;
    border: rem(3) solid $yellowColor;
    &-active{
        width: rem(26);
        height: rem(26);
        background-color: $yellowColor;
        border: rem(3) solid $yellowColor;
    }
}
.arrow-img{
    width: rem(23); 
    cursor: pointer; 
}
