//====================================================================================================
.footer {
    padding: rem(50) 0;
    &__social {
        max-width: rem(232);
        margin: 0px auto;
        display:flex;
        justify-content: space-between;
        align-items: center;
        flex-wrap: wrap;
        column-gap: rem(35);
        row-gap: rem(35);
    }

    &__href {
        font-size: rem(30);
        &:hover{
            color: $primaryColor;
        }
        max-width: rem(30);
        min-height: rem(30);
    }

    &__footer {
        text-align: center;
        width: 100%;
        margin-top:rem(30);
        font-size: rem(14);
        
    }
}

//====================================================================================================
